streamlit>=1.42.0
Authlib>=1.3.2
google-genai
python-dotenv
pypdf
langchain
langchain-community
langchain-text-splitters
langchain-core
faiss-cpu
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
